@model KinderG.Models.Product
@{
    ViewBag.Title = "Edit User - MVC";
    Layout = "~/Views/Shared/_Module.cshtml";


}
<div class="item">
    <img src="~/Content/img/kid.jpg" class="img-responsive" alt="">
    <div class="carousel-caption">





        <h2>Edit your informations</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group" style="color:black; font-size:10pt;" ng-hide="true">
            @Html.LabelFor(model => model.nomProd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nomProd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nomProd, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group" style="color:black; font-size:10pt;" ng-hide="true">
            @Html.LabelFor(model => model.stock, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.stock, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.stock, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="color:black; font-size:10pt;" ng-hide="true">
            @Html.LabelFor(model => model.prix, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prix, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.prix, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-sm btn-primary" />
            </div>
        </div>
    </div>
        }

        <div>
            @Html.ActionLink("Back to List", "ListUsers")
        </div>




    </div>
</div>

