@model IEnumerable<KinderG.Models.Invitation>

@{
    ViewBag.Title = "Module";
    Layout = "~/Views/Shared/_Invitation.cshtml";
}

<h3>My  Invitations Receiver</h3>


<table class="table">
    <tr>

        <th style="color:black; font-size:10pt;" ng-hide="true">
            @Html.DisplayNameFor(model => model.etat)
        </th>

        <th style="color:black; font-size:10pt;" ng-hide="true">
            Invitation Receiver
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td style="color:black; font-size:10pt;" ng-hide="true">
                @Html.DisplayFor(modelItem => item.etat)
            </td>

            <td style="color:black; font-size:10pt;" ng-hide="true">
                @Html.DisplayFor(modelItem => item.receive.firstName)
            </td>

            <td>
                @Html.ActionLink("Refuse", "Refuse", new { id = item.id })

            </td>
            <td>
                @Html.ActionLink("Accept", "Accept", new { id = item.id }, new { ids = item.send.idU })

            </td>

        </tr>
    }

</table>
