
@model IEnumerable<KinderG.Models.Order>
@{
    ViewBag.Title = "ListOrder";
    Layout = "~/Views/Shared/_Module.cshtml";
}

<h2>ListList products</h2>
center><h2>List of products</h2></center>


@using (Html.BeginForm())
{
    @Html.TextBox("searchString")
    <button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4" type="submit" value="Search" id="submit">
        <i class="fs-12 fa fa-search" aria-hidden="true"></i>
    </button>
}
<table class="table">
    <tr>

        <th style="color:black; font-size:10pt;" ng-hide="true"> Id </th>
        <th style="color:black; font-size:10pt;" ng-hide="true">Total </th>
        <th style="color:black; font-size:10pt;" ng-hide="true"> Date</th>
        <th style="color:black; font-size:10pt;" ng-hide="true"> State</th>
        <th style="color:black; font-size:10pt;" ng-hide="true">Options</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
    <th style="color:black; font-size:10pt;" ng-hide="true">
        @Html.DisplayFor(modelItem => item.id)
    </th>
    </td>
    <td>
    <th style="color:black; font-size:10pt;" ng-hide="true">
        @Html.DisplayFor(modelItem => item.total)
    </th>
    </td>
    <td>
    <th style="color:black; font-size:10pt;" ng-hide="true">
        @Html.DisplayFor(modelItem => item.dateReg)
    </th>
    </td>
    <td>
    <th style="color:black; font-size:10pt;" ng-hide="true">
        @Html.DisplayFor(modelItem => item.stat)
    </th>
    </td>


    <td>

        @Html.ActionLink("Delete", "Delete", new { id = item.id }) |


    </td>
</tr>
    }




</table>

